/*--------------------------------------------------------------
# Resume styles
--------------------------------------------------------------*/
@import "cv";

/*
============ Main styles ===========
*/
.sr-only,
.screen-reader-text{
	visibility: hidden;
	display: none;
}
.container,
.widget-area{
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
.aligncenter{
	display: block;
    margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.col-6{
	flex: 1;
	flex-basis: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.col-3{
	flex: 1;
	flex-basis: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.visible-xs{
	display: block;
}
.hidden-xs{
	display: none;
}
.home{
	.front-visible{
		display: block !important;
	}
	.front-hidden{
		display: none !important;
	}
}
.front-hidden{
	display: block !important;
}
.front-visible{
	display: none !important;
}
.home{
	section{
		margin-top: 5em;
	}
}
.section-heading{
	margin: 1.5em auto;
	position: relative;
	z-index: 999;
	&:after{
		position: absolute;
		content: '';
		display: block;
		bottom: 15px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 20%;
		height: 1px;
		border-bottom: 1px solid $color__background-hr;
		z-index: -1;
	}
}
/*
============ Header ===========
*/
.site-header{
	overflow: hidden;
}
.hero-header{
	overflow: hidden;
	margin-bottom: 1.5em;
	h2{
		margin-right: 1em;
	}
}
.contactBtn{
	float: right;
	display: block;
	clear: both;
	margin:0 1em 1em 0;
	padding: .2em 2em;
    background: #ddd;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:hover{
		box-shadow: 0 14px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
}
.hero-txt{
	height: 100%;
	margin: .8em 0 0.5em;
    //border-bottom: solid $color__background-hr 1px;
	small {
		font-size: 50%;
		display: inline-block;
	}
}
.hero-amp {
	vertical-align: bottom;
  	margin: 0 -0.3em;
}
/*
============ Section Main ===========
*/
.site-content{
	position: relative;
	transition: right 0.555s cubic-bezier(0.230, 1.000, 0.320, 1.000);
	right: 0;
}
.home{
	.site-main{
		border: solid  1px;
		border-color: $color__border;
		margin: 20px;
		padding: 50px;
	}
}
.site-main{
	border: solid  1px;
	border-color: $color__border;
 	margin: 10px auto;
	padding: 0 50px;
}
.menu-toggle--move{
	right: 50%;
    width: 100%;
}
.hentry{
	background: $color__background-body;
    position: relative;
	//border-top: solid $color__background-hr 1px;
	border-top: 40px solid transparent;
//	border-image: url(dist/img/border.png) 100 fill repeat;
	border-image: url(dist/img/border.png) 60 repeat;
}
/*
============ Section services ===========
*/
.services{
	strong{
		display: block;
	}
	.pricing-boxes-container{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		border-bottom: 1px solid $color__background-hr;
	}
	.icon{
		font-size: 4.5em;
    	text-align: center;
		height: 105px;
	}
	.box-heading{
		margin-top: 0;
	}
	.box{
		flex: 1;
		flex-basis: 50%;
		padding: 15px;
		align-self: flex-end;
		&:nth-child(1), 
		&:nth-child(3){
			border-right: 1px solid $color__background-hr;
		}
	}
	.box-content{
		background-color: #eee;
		padding-left: 15px;
		padding-right: 5px;
		padding-bottom: 2px;
	}
	.box-1{
		
	}
	ul{
		padding-left: 25px;
	}
}
/*
============ Section projects ===========
*/
.projects{
	.projects-container{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	figure{
		flex: 1;
		flex-basis: 50%;
		margin: 0;
		background-color: #fff;
		border-bottom: 1px solid $color__background-hr;
		border-right: 1px solid $color__background-hr;
		transition: all 0.3s ease-in-out;
		position: relative;
		&:hover{
			background: #f5f5f5;
		}
		&:nth-of-type(2n+2) {
			border-right: none;	
		}
		img{
			margin: 0 auto;
   		 	display: block;
		}
		
	}
	figcaption{
		background-color: #f2f2f2;
	}
}
/*
============ Section Footer ===========
*/
.site-footer{
	
}
/*
============ Totop ===========
*/
.toTop{
    position: fixed;
    bottom: 8em;
    right: 8em;
}
.toTop__link{
	display: none;		
}
.toTop__svg{
	width: 50px;
	height: 50px;
}