//Hero 
.hero-cv__figure{
	display: inline-block;
	text-align: center;
    width: 100%;
	margin: 0 auto;
	img{
		border-radius: 50%;	
		max-height: 250px;
		border: solid 2px;
		border-color: $color__border;
	}
}
.cv__header{
	margin-bottom: 50px;
	h2,h3{
		text-align: center;
	}
	h2{
		margin-bottom: 0;
	}
	h3{
		margin-top: 0;
		color: $color__text-secondary;
    	font-weight: 100;
	}
}
// Headings
.cv__block-heading{
	color: #fff;
	background-color: $color__cv;
	border-left: solid 10px $color__text-secondary;
	padding-left: 15px;
}
// timeline
.cv__timeline{
	margin: 150px auto;
	ul{
		list-style: none;
		position: relative;
		display: block;
		border-bottom: $color__cv solid 4px;
		&::after,
		&::before{
			position: absolute;
			content: '';
			display: block;
			top: -10px;
			background-color: $color__cv;
			border-radius: 100%;
			width: 20px;
			height: 20px;
		}
		&::after{
			left: -5px;	
		}
		&::before{
			right: -5px;
		}
	}
	li{
		position: absolute;
		top: 0px;
		left: 50px;
		padding-top: 1.5em;
		font-size: .85em;
		max-width: 100px;
		text-align: center;
		&:nth-child(2){
			left: calc(50% - 50px);
		}
		&:last-child{
			right: 50px;
			left: auto;
		}
		&::after{
			position: absolute;
			content: '';
			display: block;
			top: -10px;
			left: 0;
			right: 0;
			margin: 0 auto;
			background-color: #ffffff;
			border-radius: 100%;
			border:solid 1px $color__cv;
			width: 20px;
			height: 20px;
		}
	}
	span{
		display: block;
		position: absolute;
		top: -2em;
		left: 0;
		right: 0;
		margin: 0 auto;
		font-size: 2.5em;
	}
}
// Content
.resume{
	.hero-sky{
		display: none;
	}
	[class*=" icon-"], [class^=icon-]{
		text-shadow: 1px 1px 1px #000;
	}
	.icon-heart,
	.icon-angle-double-up{
		text-shadow: none;
	}
	.site-main{
		margin: 10px auto;
    	padding: 0 50px;
	}
}
.cv__content{
	a{
		color: currentColor;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
//work
.cv__work{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			font-weight: 600;
			margin-bottom: 1em;
		}
		.lighter{
			font-size: 0.9em;
		}
	}
}
//skills
.skill-bullet-empty,
.skill-bullet-full{
	display: inline-block;
	float: left;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	//transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.skill-bullet-empty{
	background-image: url(../img/bullet-empty.png);
}
.skill-bullet-full{
	background-image: url(../img/bullet.png);
}
// Passions hobbies and contact
.cv__hobby, .cv__social{
	ul{
		list-style: none;
		display: flex;
		padding: 0px;
		li{
			flex: 1;
			text-align: center;
		}
	}
	[class^=icon-]{
		display: block;
		font-size: 3em;
		margin: 20px auto;
	}
	a{
		[class*=" icon-"], [class^=icon-]{
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}
		&:hover{
			text-decoration: none;
			[class*=" icon-"], [class^=icon-]{
				//text-shadow: 1px 1px 1px $color__text-secondary;
				transform: scale(0.8);
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.cv__work{
		padding-right: 15px;
	}
	.cv__infos{
		padding-left: 15px;
	}
	.cv__skill1, .cv__skill2{
		padding-right: 10px;
	}
}
