@media screen and (min-width: 414px) {
	/*
	============ Section .... ===========
	*/
}
@media screen and (min-width: 600px) {
	/*
	============ Section .... ===========
	*/
}

@media screen and (min-width: 768px) {
	/*
	============ Main styles ===========
	*/
	.visible-xs{
		display: none;
	}
	.hidden-xs{
		display: block;
	}
	.col-6{
		flex-basis: calc(100% / 2);
	}
	.col-3{
		flex-basis: calc(100% / 3);
	}
}
@media screen and (min-width: 992px) {
	/*
	============ Header ===========
	*/
	.hero-header{
		small {
			margin-left: 7em;
		}
	}
	.navbar-social:not(.mobile){
		li{
			float: left;
		}
	}
	/*
	============ Section projects ===========
	*/
	.projects{
		figure{
			&:nth-of-type(2n+2) {
				p{
					border-left: none;
				}
			}
			p{
				transform: translate(0,0);
				margin: -15px auto 15px;
				transition: transform 0.3s ease-in-out;
			}
			img{
				filter: grayscale(100%);
				transform: scale(1);
				transition: filter .3s ease-in-out, transform .5s ease-in-out;
				transition-delay: .1s;
			}
			&:hover{
				p{
					transform: translate(0,8px);
					color: $color__link;
				}
				.projects__readMore{
					transform: translate(0,-10px);
					opacity: 1;
					&:hover{
						&::after{
							transform: translate(10px,0px);
						}
					}
				}
				img{
					filter: grayscale(0%);
					transform: scale(1.002);	
				}
			}
		}
		figcaption{
			background-color: transparent;
		}

	}
	// portfolio page specific style for arrow
	.portfolio{
		.projects__readMore{
			&::after{
				right: calc(40% - 15px);
			}
		}
	}
	/*
	============ Section services ===========
	*/

	.services{
		.box{
			flex-basis: 25%;
			&:nth-child(2){
				border-right: 1px solid $color__background-divider;
			}
			&:nth-child(1), 
			&:nth-child(3){
				border-right: 0;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	/*
	============ Header ===========
	*/
	.hero-header{
		small {
			margin-left: 10em;
		}
	}
	/*
	============ Section projects ===========
	*/
	//home page specific style for arrow
	.default {
		.projects__readMore{
			&::after{
				right: 35%;
			}
		}	
	}
}