.single{
	.site-main {
		margin: 10px auto;
		padding: 10px;
	}
	.container{
		padding: 0;
	}
}
.single-content{
	position: relative;
	background: #fff;
}
.comments-area{
	border-top: 3px dotted $color__border-input;
}
.comment-respond{
	margin: 0 auto;
    width: 50%;
}
.comment-form-comment{
	    display: table;
	label{
		display: table-caption;
	}
}
.form-submit{
	[type="submit"]{
		margin: 0;
	}
}