/*
============ Main styles ===========
*/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 400;
	color: $color__headings_smaller;
}
h1{
	@include font-size($h1-font-sizes);
	color: $color__headings;
	font-family: $font__header;
}
h2{
	@include font-size($h2-font-sizes);
}
h3{
	@include font-size($h3-font-sizes);
}
/*
============ Front page hero header ===========
*/
.hero-header{
	h2{
		text-align: right;
		@include font-size($h3-font-sizes);
	}
}
.hero__contact{
	@include font-size($h3-font-sizes);
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $color__link;
	}
}
.hero__txt{
    line-height: 1em;
    font-size: 5.5em;
    font-weight: 100;
	text-align: center;
}
.hero__amp{
  color: lighten($color__link, 20);//$color__headings-smaller;
  font-size: 3em;
  font-style: italic;
}
.content__heading{
	text-align: left;
	text-transform: uppercase;;
	margin: 1.5em auto;
	border-bottom: solid 3px $color__link;
}
@media screen and (min-width: 992px) {
		//Desktop
	.content__heading{
		font-size: 2.5em;
		margin: 2em auto 1.5em;
	}
}