/*
============ Import headings styles ===========
*/
@import "headings";
/*
============ Main styles ===========
*/
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size($p-font-sizes);
	line-height: $font__line-height-body;
	font-weight: 400;
}
.lighter{
	font-weight: 100;
}
.toTop__btn{
	span{
		font-size: 2.5em;
		color: #000;
	}
}
/*
============ Menu ===========
*/
.nav a{
	@include font-size($menu-font-sizes);
}
/*
============ Menu Social ===========
*/
.nav-social{
	.fb, .ln{
		a{
			font-size: 0;
		}
		a::before{
			font-family: 'icomoon';
			font-size:40px;
			color: $color__text-main;
			&:hover,
			&:focus,
			&:active{
				color: $color__link;
			}
		}
	}
}
/*
============ Front-page projects ===========
*/
.projects figure{
	.projects-readMore{
		font-weight: 100;
		font-size: 0.8em;
		text-decoration: none;
		color: $color__text-main;
		&::after{
			font-family: 'icomoon';
			font-size: 0.8em;
		}
	}
	&:hover{
		p,
		.projects-readMore{
			color: $color__link;
		}
	}
}		
figcaption{
    text-align: center;
    font-size: 1.4em;
    font-weight: 100;
}
.portfolio{
	figcaption{
	    font-size: 1.1em;
	}
}
/*
============ Footer ===========
*/	
.site-footer__design{
	a{
		color: $color__text-footer;	
		text-decoration: none;	
	}
}
.site-footer{	
	color: $color__text-footer;	
	text-align: center;
	@include font-size($footer-font-sizes);
}
