.hero-clouds{
	width: 100%;
	height: 100%;
	padding: 100px 0;
	background: #fff;//#c9dbe9;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.cloud {
	width: 230px; 
	height: 90px;
	background: #E3F2FD;
	border-radius: 200px;
	position: relative; 
	box-shadow: 50px 20px 85px -15px rgba(0,0,0,.5), inset 0px 0px 15px 0px rgba(255,255,255,1);
	&::before,
	&::after {
		content: '';
		position: absolute; 
		background: #E3F2FD;
		width: 130px; 
		height: 100px;
		position: absolute;
		top: -15px;
		left: 10px;
		border-radius: 130px;
		transform: rotate(30deg);
	}
	&::after {
		width: 150px;
		height: 150px;
		top: -55px;
		left: auto;
		right: 15px;
	}
}
// Create clouds
@for $i from 1 through 8{
	.cloud--x#{$i}{
		animation-name: moveclouds;
		animation-duration: 25s + ($i * 15);
		animation-iteration-count: infinite;
		animation-direction: linear;
	}
}
// different speed for last 3 clouds
@for $i from 6 through 8{
	.cloud--x#{$i}{
		animation-duration: 25s + ($i * 20) !important;
	}
}
.cloud--x1 {
	left: -200px;
	top: 100px;
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
}
.cloud--x2 {
	left: 400px;
	top: 200px;
	transform: scale(0.95);
	opacity: 0.95;
}
.cloud--x3 {
	left: 450px; 
	top: -220px;
	transform: scale(0.7);
	opacity: 0.7;
}
.cloud--x4 {
	left: 670px; 
	top: 50px;
	transform: scale(1.1);
	opacity: 1;
}
.cloud--x5 {
	left: -350px; 
	top: -190px;
	transform: scale(0.9);
	opacity: 0.9;
}
.cloud--x6 {
	left: -450px; 
	top: -100px;
	transform: scale(0.8);
	opacity: 0.8;
}
.cloud--x7 {
	left: 450px; 
	top: -50px;
	transform: scale(1);
	opacity: 0.4;
}
.cloud--x8 {
	left: -150px; 
	top: -150px;
	transform: scale(1.2);
	opacity: 1;
}
@keyframes moveclouds {
	0% {margin-left: 1400px;}
	100% {margin-left: -1400px;}
}