$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ddd;
$color__background-button: #e6e6e6;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #63B2BB;
$color__link-visited: #63B2BB;
$color__link-hover:  #323B3C;


$color__text-main: #516163;
$color__text-secondary: #63B2BB;
$color__text-footer:  #212121;;	 
$color__text-plain: #ffffff;
$color__headings: #323B3C;
$color__headings_smaller: #516163;	
$color__cv: #323232;

$color__navbar-bg:#ffffff;
$color__menu-txt: #214062;
$color__menu-active: #2c98ad;
$color__menu-button: #ffffff;
$color__menu-mobile-bg: #1a6086;

$color__border: #ccc  #ccc #63B2BB #63B2BB;
$color__border-blue: #ccc  #ccc #C5CAE9 #C5CAE9;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

//Material Design Palette:

$primary__color-dark:   #303F9F;
$primary__color:        #3F51B5;
$primary__color-light:  #C5CAE9;
$primary__color-text:   #FFFFFF;
$accent__color:         #448AFF;
$primary__text-color:   #212121;
$secondary__text-color: #757575;
$divider__color:        #BDBDBD;